@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EFECEC;
}

.navbar {
  background-color: black;
}

.main {
  min-height: 100vh;
}
.auctionsLeft {
  background-color: #BFC3CC;
  padding: 0px;
  margin: auto;
  width: 100%;
  min-height: 100%;
}

.auctionsLeft > div select {
  margin:auto;
}
.auctionsLeft > div > button {
  background-color: #BFC3CC;
  color: #000000;
  font-size: 20px;

}
.favoriteBtn {
  text-align: right;
}
.auctionsContainer  {
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
.auctionsMain {
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 3fr 3fr 3fr;
}

.auctionsMain > div {
  border: 0;
  border-radius: 20px;
  padding: 15px;
}

.auctionsMain > div > image {
  border-radius: 20px;
}

/* Style the dropdown button */
.dropdown-trigger {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

/* Style the checkboxes */
.dropdown-content input[type="checkbox"] {
  margin-right: 5px;
}

/* Show the dropdown when the button is hovered or clicked */
/* .dropdown:hover .dropdown-content {
  display: block;
} */

.open {
  display: block;
}

.closed {
  display: none;
}

@media screen and (max-width: 375px) {
  .main {
    min-height: 0;
  }
  .auctionsContainer {
    padding: 0;
    display: flex;
    height: 10px;
    min-height: 100px;
    flex-direction: column;

  }
  .auctionsLeft {
    background-color: #BFC3CC;
    padding: 0px;
    margin: auto;
    width: 100%;
    height: 100%;
    min-height: 100px;
  }
  .auctionsMain {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px;
  }
}
